<body>

    <div class="about-container">
      <h2>About Us</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et ultricies libero. Nullam suscipit, libero at ullamcorper tincidunt, dui nisl tristique tellus, non feugiat arcu odio ac dui. Nam non arcu vel tellus semper semper a at nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
  
      <p>Vestibulum euismod, elit sit amet vehicula pulvinar, odio purus sollicitudin mauris, in tincidunt nisl ligula ut justo. Duis et odio sit amet nunc dapibus accumsan. In hac habitasse platea dictumst. Vivamus hendrerit velit vel risus ultricies, sit amet fermentum nisi pellentesque. Aenean vel imperdiet elit.</p>
    </div>
  
  </body>
